@import 'bourbon/bourbon';
@import 'base/grid-settings';
@import 'neat/neat';
@import 'base/base';
@import 'components/components';

svg {
  .axis {
    path, line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    &.x path { display: none; }
  }

  .line {
    fill: none;
    stroke-width: 1.5px;
  }
}
